<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>
            var map;
            var marker;
            var infoWindow;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 40.717333, lng: -74.004814},
                    zoom: 12
                });

                map.addListener('click', function(e) {
                    placeMarkerAndPanTo(e.latLng, map);
                });

                infoWindow = new google.maps.InfoWindow;
                marker = new google.maps.Marker({
                        map: map
                    });

                // addMarker();
                getMarkers();
            }

            function placeMarkerAndPanTo(latLng, map) {
                var content = 
                    `<form action="/api/add_entity" method="post">
                        <label>First Name</label><br>
                        <input type="text" name="first_name"><br>
                        <label>Last Name</label><br>
                        <input type="text" name="last_name"><br>
                        <input type="hidden" name="latitude" value = ${latLng.lat()}>
                        <input type="hidden" name="longitude" value=${latLng.lng()}>
                        <label>Stuff</label><br>
                        <input type="text" name="stuff"><br>
                        <label>Amount</label><br>
                        <input type="number" name="amount"><br>
                        <label>Need</label>
                        <input type="radio" name="have" value="0">
                        <label>Have</label>
                        <input type="radio" name="have" value="1"><br><br>
                        <input type="submit" value="Submit">
                    </form>`
                marker.setPosition(latLng);
                infoWindow.setContent(content);
                infoWindow.open(map, marker);
            }

            const getMarkers = async () => {
                const response = await fetch('/api/query_entity');
                const data = await response.json();
                var labels = ['❕', '💪'];
                console.log(data);

                Array.prototype.forEach.call(data.result, function(element) {
                    console.log(element)
                    var title = element.have ? 'Have' : 'Need';
                    var type = element.have ? 1 : 0;
                    var infoWindow = new google.maps.InfoWindow;
                    var infowincontent = document.createElement('div');
                    var strong = document.createElement('strong');
                    strong.textContent = `${title} ${element.first_name} ${element.last_name}`;
                    infowincontent.appendChild(strong);
                    infowincontent.appendChild(document.createElement('br'));

                    var text = document.createElement('text');
                    text.textContent = `${element.stuff}: ${element.amount}`;
                    infowincontent.appendChild(text);

                    var marker = new google.maps.Marker({
                        position: {lat: parseFloat(element.latitude), lng: parseFloat(element.longitude)},
                        animation: google.maps.Animation.DROP,
                        map: map,
                        label: {
                                text: labels[type],
                                fontSize: '20px'
                        }
                    });
                    marker.addListener('click', function() {
                        infoWindow.setContent(infowincontent);
                        infoWindow.open(map, marker);
                    });

                    infoWindow.setContent(infowincontent);
                    infoWindow.open(map, marker);
                });
            }

            async function addMarker() {
                var numMarkers = 0;
                var labels = ['❕', '💪'];
                var contents = ['Need 😷', 'Have 😷'];
                var names = ['Tai-Ying Chen', 'Donald Trumph']


                types = []
                for (var i = 0; i < 10; i++) {
                    var type = Math.round(Math.random());
                    types.push(type);
                }

                Array.prototype.forEach.call(types, function(type) {
                    var infoWindow = new google.maps.InfoWindow;
                    var infowincontent = document.createElement('div');
                    var strong = document.createElement('strong');
                    strong.textContent = names[type];
                    infowincontent.appendChild(strong);
                    infowincontent.appendChild(document.createElement('br'));

                    var text = document.createElement('text');
                    text.textContent = contents[type];
                    infowincontent.appendChild(text);

                    var marker = new google.maps.Marker({
                        position: {lat: 40.717333 + (Math.random()-0.5)/5, lng: -74.004814 + (Math.random()-0.5)/5},
                        animation: google.maps.Animation.DROP,
                        map: map,
                        label: {
                                text: labels[type],
                                fontSize: '20px'
                        }
                    });
                    marker.addListener('click', function() {
                        infoWindow.setContent(infowincontent);
                        infoWindow.open(map, marker);
                    });

                    infoWindow.setContent(infowincontent);
                    infoWindow.open(map, marker);
                });
            }

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"
        async defer></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <!-- <script src="/__/firebase/7.13.1/firebase-app.js"></script> -->

        <!-- TODO: Add SDKs for Firebase products that you want to use
                https://firebase.google.com/docs/web/setup#available-libraries -->
        <!-- <script src="/__/firebase/7.13.1/firebase-analytics.js"></script> -->

        <!-- Initialize Firebase -->
        <!-- <script src="/__/firebase/init.js"></script> -->
    </body>
</html>